.header__theme-button {
    filter: invert(1);
    align-self: center;
    /* min-height: 50px; */
    background-color: unset;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    padding: 0;
    box-sizing: border-box;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity .15s ease, filter .5s ease;
}

.header__theme-button:hover {
    opacity: .5;
    /* opacity: .6; */
    cursor: pointer;
}

/* @media screen and (max-width: 615px) {
    .header__theme-button {
        width: 100%;
    }   
} */

@media screen and (max-width: 425px) {
    .header__theme-button {
        background-size: 24px;
    }   
}