.profile__profile-description {
    margin: 0;
    font-weight: 400;
    color: var(--light-gray);
    line-height: 22px;
    transition: all .5s ease;
}

@media screen and (max-width: 615px) {
    .profile__profile-description {
        text-align: center;
        padding: 0 0 36px;
    }   
}

@media screen and (max-width: 425px) {
    .profile__profile-description {
        font-size: 14px;
        line-height: 17px;
    }   
}