.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 282px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .5s ease, opacity .15s ease;
}

.card:hover {
    opacity: .9;
}

@media screen and (max-width: 425px) {
    .card {
        max-width: 100%;
    }   
}