.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px var(--dark-gray) solid;
    transition: all .5s ease;
}

@media screen and (max-width: 933px) {
    .header {
        padding: 0 20px;
    }   
}

@media screen and (max-width: 425px) {
    .header {
        /* flex-direction: column-reverse; */
        height: 80px;
        /* border-top: 1px var(--dark-gray) solid; */
    }   
}